<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
<head/>
<body>
  <div id="app">
    <h1>Rclone Mount Status</h1>
    <div class="cards">
      <div class="card">
        <h2>General</h2>
        <div class="pannel">
          <div>Server</div> 
          <div v-if="config.server_loc === ''">current host</div>
          <div v-if="config.server_loc !== ''">{{config.server_loc}}</div>

          <div>State</div>  <div>{{general.state}}</div>
          <div>Last Update</div> <div>{{general.last_update}}</div>
          <div>Running Time</div> <div>{{general.running_time}}</div>
          <div>Total Bytes</div> <div>{{general.tot_bytes}}</div>
        </div>
      </div>
      <div class="card">
        <h2>VFS</h2>
        <div class="pannel">
          <div>Busy</div> 
          <div v-if="vfs.busy == BUSY_NO" style="color:blue">No. Safe to exit</div>
          <div v-if="vfs.busy == BUSY_YES" style="color:red">Yes. DO NOT EXIT.</div>
          <div v-if="vfs.busy == BUSY_UNKNOWN" style="color:blueviolet">Unknown</div>

          <div>Uploads in Progress</div> <div>{{vfs.uploads_in_proc}}</div>
          <div>Uploads in Queue</div> <div>{{vfs.uploads_in_queue}}</div>
          <div>Disk Used</div> <div>{{vfs.disk_used}}</div>
          <div>Disk out of Space</div> <div>{{vfs.disk_out_of_space}}</div>
        </div>
      </div>
    </div>

    <!-- <button @click="update">update</button> -->

    <h2>Transferring {{ transfers.length }} file(s)</h2>
    <div class="transfers">
      <div class="transfer" v-for="item in transfers">
        <h5>{{item.path}}</h5>
        <ul>
          <li v-for="tag in item.tags">{{tag}}</li>
        </ul>
      </div>
    </div>
    
  </div>

  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
      }
    }
  </script>
  <script defer type="module" src="js/main.js"></script>
</body>
</html>